.is-invalid:not(:focus) {
  animation: horizontal-shaking 250ms ease-in-out 1 forwards;
}

textarea {
  min-height: 125px !important;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
