@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
  font-family: "Josefin Sans", sans-serif;
}

.icon {
  padding-right: 0.5rem;
}

.toast-body a {
  color: #fff;
}
